# Public client-side config
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_MAILERLITE_ACCOUNT_ID=2155189
VITE_MAILERLITE_FORM_ID=QsURou
VITE_NEWSLETTER_HEADING=Click to join our email list!
VITE_NEWSLETTER_COPY=Updates, news, exclusives, and more probably.
